body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.name {
    color: rgb(37, 37, 37);
}

.height {
    color: rgb(75, 185, 103);
}

.big {
    color: gold;
}

.type {
    color: forestgreen;
}

h3 {
    text-align: center;
}

#loading {
    position: fixed;
    top: 0;
    right: 0;
    margin: 4px;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
}
.pokemonButton {
    background-color: #68c76b;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 0;
    margin: 0.5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.pokemonButton:hover {
    background-color: #ffffff;
    color: #000;
}
.pokemonButtonMark {
    background-color: #d4a94a;
}